<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    {{users}}
    Is the user a student?
    {{user.is_student}}
    <h1>Welcome</h1>
    <h2>LOGIN</h2>
    <div>Username</div>
    <div>Password</div>
    <button>SIGN IN</button>
    <hr>
    <div>Forgot Password?</div>
    <footer>New York Fashion Academy </footer>
</body>
</html>